<?xml version="1.0"?>
<config>
    <sections>
        <carriers>
            <groups>
                <buildateam_shippo translate="label" module="buildateam_shippo">
                    <label>Shippo</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled for Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>

                        <private_auth_token translate="label">
                            <label>Private Auth Token</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </private_auth_token>

                        <from_name translate="label">
                            <label>From Name</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_name>
                        <from_company translate="label">
                            <label>From Company</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_company>
                        <from_country translate="label">
                            <label>From Country</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_country>
                        <from_region translate="label">
                            <label><![CDATA[From State/Province]]></label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <frontend_model>buildateam_shippo/adminhtml_frontend_region_updater</frontend_model>
                            <source_model>buildateam_shippo/system_config_source_region</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_region>
                        <from_postcode translate="label">
                            <label><![CDATA[From Zip/Postal Code]]></label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_postcode>
                        <from_city translate="label">
                            <label>From City</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_city>
                        <from_street translate="label">
                            <label>From Street Address</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_street>
                        <from_phone translate="label">
                            <label>From Telephone</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_phone>
                        <from_email translate="label">
                            <label>From Email</label>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry</validate>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </from_email>

                        <weight_unit translate="label">
                            <label>Weight Unit</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>buildateam_shippo/system_config_source_weight</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </weight_unit>
                        <size_unit translate="label">
                            <label>Dimensions Unit</label>
                            <frontend_type>select</frontend_type>
                            <validate>required-entry</validate>
                            <source_model>buildateam_shippo/system_config_source_size</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </size_unit>
                        <shipping_handling translate="label">
                            <label><![CDATA[Shipping & Handling]]></label>
                            <comment>In store currency.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-number</validate>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping_handling>
						
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>70</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>80</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <!--
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        -->
                    </fields>
                </buildateam_shippo>
            </groups>
        </carriers>
    </sections>
</config>
